- if flash[:notice]
  .notice #{flash[:notice]}
#homepage-content
  .wrapper
    %section.clearfix
      .homepage-content
        %h1 Rantly
        %p Let it all out
- if session[:visiting_status] == "no"
  %p#notice Welcome back! Please register to begin your ranting!
.wrapper
  %section.clearfix
    .homepage-quote
      = image_tag "https://avatars0.githubusercontent.com/u/161737?v=2&s=400"
      %blockquote
        "Rantly has allowed a certain freedom I never thought possible.
        Now I can rant to the internet at large, without having to worry about my thoughts.
        I just type it out, hit click, and feel the surge of relief.
        Thanks Rantly, you've truly made my most inane rants heard.
        I remember a time when I wasn't able to truly express myself.
        It's really frustrating when you want to be heard and no one..."
        %br
        %br
        | Jeff Taggart, avid Ranter