%div#dashboard-content
  %div.wrapper
    %section.clearfix
      %article.full_column.dashboard-content
        %h1 Rantly
        %p Let it all out
%div.wrapper
  %section.clearfix
    %article.full_column.dashboard-quote
      = image_tag "https://avatars0.githubusercontent.com/u/161737?v=2&s=400"
      %blockquote "Rantly has allowed a certain freedom I never thought possible. Now I can rant to the internet at large, without having to worry about my thoughts. I just type it out, hit click, and feel the surge of relief. Thanks Rantly, you've truly made my most inane rants heard.I remember a time when I wasn't able to truly express myself. It's really frustrating when you want to be heard and no one..."
      | Jeff Taggart, avid Ranter
