.followed-users
  %section.clearfix
    %h1 Following
    %hr
      - if @followed_users != nil
        - @followed_users.each do |followed_user|
          .user
            %p #{full_name(followed_user)}
            = image_tag followed_user.avatar.url(:medium)
            = follow_link(followed_user.id)
