<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Rantly, <%= @user.first_name %></h1>
<p>
  Thanks for signing up for Rantly!
  Please activate your account using below link:
 <%= link_to "Activate", url_for(host: @url, controller: 'account_activations', action: 'edit', params: {token: @user.activation_token, email: @user.email}) %>
<br>
</p>
<p>
  After, just follow this link to log in: <%= @session %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>

