.wrapper
 %section.clearfix
  - if flash[:notice]
   .errors #{flash[:notice]}
  = form_for current_user, url: user_path, html: { class: "register-form" } do |f|
   %h3 Edit Profile
   = render partial: 'users/form', locals: {f:f}