.wrapper
 %section.clearfix
  - if current_user.errors.any?
   .errors
    - current_user.errors.full_messages.each do |message|
     %li #{message}
  = form_for current_user, url: user_path, html: { class: "register-form" } do |f|
   %h3 Edit Profile
   = render partial: 'users/form', locals: {f:f}