.wrapper
 %section.clearfix
  - if @user.errors.any?
   .errors
    - @user.errors.full_messages.each do |message|
     %li #{message}
  = form_for @user, html: { class: "register-form" } do |f|
   %h3 Register
   = render partial: 'users/form', locals: {f:f}