.dashboard-rants
  %section.clearfix
    .latest_rants
      %h1 Latest Rants
      %hr
      - if @all_rants != nil
        = render @all_rants
    .my_rants
      %h1 My Rants
      - if current_user.rants != nil
        = render current_user.rants
    .mentioned
      %h1 Mentioned
      - if @mentioned_rants != nil
        = render @mentioned_rants

