/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_self
 */

/* ----- =structure ----- */

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: grey;
  font-family: avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: #333333;
}

.wrapper {
  margin: auto;
  width: 68%;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
  *zoom: 1;
}

a {
  text-decoration: none;
  background: transparent;
}

.header-word-logo {
  font-size: 25px;
  padding: 10px 20px;
  float: left;
  border-right: green 1px solid;
}

.navbar-logged-out, .navbar-logged-in {
  padding: 10px;
  a {
    color: white;
  }
}

.nav-list {
  font-size: 20px;
  float: left;
  border-left: green 1px solid;
  padding-left: 10px;
  text-decoration: underline;
}

.top-nav :nth-child(1) :nth-child(1) {
  border: none;
}

.top-nav :nth-child(4) :nth-child(1) {
  margin-right: 350px;
}

.top-nav {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  a {
    margin-left: 15px;
  }
}

.button {
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  background-color: #37731e;
  line-height: 20px;
  padding: 10px 35px;
  text-decoration: none;
}

.logout-button {
  @extend .button;
  vertical-align: middle;
  margin: 6px 5px 6px 0;
}

.login-link {
  text-decoration: underline;
}

#homepage-content {
  background: white;
  padding-top: 80px;
  padding-bottom: 120px;
}

#notice {
  text-align: center;
  border: solid 1px green;
  background-color: green;
  padding: 20px;
  margin: 0 auto;
  color: white;
}

.homepage-content {
  text-align: center;
  h1 {
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    margin-top: 10px;
  }
}

.homepage-quote {
  margin-top: 60px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
  }
  blockquote {
    width: 75%;
    margin-right: 20px;
    text-align: left;
  }
}

.register-button, .login-button, .create-rant-button, .edit-button {
  @extend .button;
  width: 100%;
  margin-top: 10px;
}

.form {
  background: white;
  width: 66.66%;
  padding: 1em;
  margin: 1rem auto;
  h3 {
    font-weight: normal;
  }
}

.register-form {
  @extend .form;
  label {
    display: block;
  }
  .register-form-column {
    display: inline-block;
    width: 48%;
    input {
      width: 100%;
    }
  }
  #last_name, #password {
    margin-left: 3%;
  }
  #bio {
    margin-top: 2%;
    textarea {
      width: 100%;
      height: 100px;
      resize: none;
    }
  }
  #rant_frequency {
    margin-bottom: 16px;
    .rant_column {
      display: inline-block;
      width: 31.3%;
      text-align: center;
    }
  }
  #register {
    text-align: center;
  }
}

.register-form:after {
  content: " ";
}

.notice {
  text-align: left;
  width: 66.66%;
  border: solid 1px green;
  background-color: green;
  padding: 10px;
  margin: 10px auto;
  color: white;
}

.errors {
  text-align: left;
  width: 66.66%;
  margin: 10px auto;
  background-color: red;
  padding: 10px;
  li {
    color: white;
    list-style: none;
  }
}

.login-form {
  @extend .form;
  h3 {
    margin-bottom: 16px;
  }
  .login-form-column {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    input {
      width: 100%;
    }
  }
  #login {
    display: inline-block;
    width: 100%;
  }
}

.login-form:after {
  content: " ";
}

.new-rant-form:before {
  content: " ";
}

.dashboard-profile {
  position: fixed;
  width: 25%;
  display: inline-block;
  color: #e8e8e8;
  padding: 1em;
  .errors {
    width: 100%;
  }
  .profile {
    padding: 1em;
    text-align: center;
    image, a {
      display: block;
    }
    #profile {
      color: #e8e8e8;
    }
  }
  input, textarea {
    display: block;
    width: 100%;
    color: black;
  }
  .category {
    border-top: 1px solid white;
    padding-top: 10px;
    margin: 10px 0 10px 0;
  }
  #rant_rant {
    height: 300px;
  }
  .create-rant-button {
    width: 100%;
    color: white;
  }
}

.content {
  width: 75%;
  background-color: #ffffff;
  display: inline-block;
  float: right;
  min-height: 100%;
  h1 {
    text-align: center;
  }
}

#links {
  padding-right: 4rem;
  display: block;
  text-align: right;
  text-decoration: underline;
}

#delete, #favorite {
  @extend #links;
}

#favorite_count {
  padding-right: 4rem;
  display: block;
  text-align: right;
}

.dashboard-rants {
  @extend .content;
  #rant, ul {
    display: inline-block;
    width: 80%;
    padding: 0px 40px;
    color: black;
    margin: 16px 0;
  }
  #profile {
    display: inline-block;
    padding-left: 80px;
    img, a, p {
      display: block;
      text-align: center;
    }
    img, p {
      margin-bottom: 8px;
      font-size: 20px;
    }
  }
  #profile_one {
    display: inline-block;
    padding-left: 80px;
    p {
      margin-bottom: 8px;
      font-size: 20px;
      text-align: center;
    }
  }
  hr {
    width: 95%;
  }
  #rants {
    width: 30%;
  }
}

.followed-users {
  @extend .content;
  hr {
    width: 95%;
  }
  .user {
    display: inline-block;
    width: 33%;
    img, p, a {
      text-align: center;
      font-size: 20px;
      display: block;
      margin: 20px auto;
    }
  }

}

.single_rant {
  @extend .content;
  hr {
    width: 95%;
  }
  .single_rant_body {
    width: 95%;
    margin: auto;
    img {
      float: left;
      padding: 1rem;
    }
    p {
      padding: 1rem;
      margin: 0;
    }
    #name {
      font-size: 30px;
      display: inline-block;
      margin-top: 20px;
    }
    .button_to {
      display: inline-block;
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      color: white;
    }
    #tweet {
      background-color: blue;
    }
    #spam {
      background-color: red;
    }
  }
}

.single_user {
  @extend .content;
  hr {
    width: 95%;
  }
  h1 {
    margin-bottom: 0;
  }
  img, p {
    margin: 1rem;
  }
  #follow {
    @extend #links;
  }
  .single_user_body {
    width: 95%;
    margin: auto;
    #rant_frequency {
      display: inline-block;
      font-size: 30px;
      width: 50%;
      text-align: center;
    }
    img {
      vertical-align: middle;
    }
  }
  .single_user_rants {
    width: 95%;
    margin: auto;
    #title {
      font-size: 20px;
    }
    #favorite_count {
      margin: 16px 0;
    }
  }
}

.favorited-rants {
  @extend .dashboard-rants;
}